@import "base/base";
@import "abstracts/variables";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%
}

body {
  box-sizing: border-box;
  background-color: $color-0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  background-color: $color-0;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.transport {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: $section-padding;
  margin: $section-margin;
  border: 1px solid gray;
  border-radius: .5rem;

  button {
    padding: .5rem;
    margin: 1rem;
  }
}

.btn {

}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
  border-radius: .5rem;
  margin: $section-margin;
  padding: $section-padding;
}

.grid__pile-row {
  margin: auto 0;
  display: flex;
  flex-direction: row;
}

.pile {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  border: none;
  margin: 1px;

  &--no-chips {
    background-color: $color-0;
  }

  &--one-chip {
    background-color: $color-1;
  }

  &--two-chips {
    background-color: $color-2;
  }

  &--three-chips {
    background-color: $color-3;
  }

  &--four-chips {
    background-color: $color-4;
  }

  &--topple {
    background-color: $color-5;
  }
}
