@import "base/base";
@import "abstracts/variables";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%
}

body {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: $color-0;
}

.grid {
  display: flex;
  flex-direction: row;
}

.grid__pile-row {
  margin: auto 0;
  display: inline-flex;
  flex-direction: column;
}

.pile {
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;

  &--no-chips {
    background-color: $color-0;
  }

  &--one-chip {
    background-color: $color-1;
  }

  &--two-chips {
    background-color: $color-2;
  }

  &--three-chips {
    background-color: $color-3;
  }

  &--topple {
    background-color: $color-4;
  }
}
