@import "base/base";
@import "abstracts/variables";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%
}

body {
  box-sizing: border-box;
  background-color: $color-0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  background-color: $color-0;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.section {
  padding: $section-padding;
  margin: $section-margin;
  border: 1px solid gray;
  border-radius: .5rem;
  font-family: Arial, Helvetica, sans-serif;

  h3 {
    font-size: 1.5rem;
    color: $color-5;
    font-weight: 300;
  }

  label, p {
    font-size: 1.5rem;
    color: $color-5;
  }
}

.transport {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    padding: .5rem;
    margin: 1rem;
  }

  &____radio-group {

  }

  &__stale-action {
    display: flex;
    flex-direction: column;
  }
}

.options {
  display: flex;
  flex-direction: row;

  label {
    font-size: 1.5rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    min-height: 6rem;
    min-width: 17rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    height: $options-line-height;

    &--text-input {
      justify-content: space-between;
    }

    &--checkbox {
      justify-content: flex-start;
    }
  }

  input {
    display: block;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    margin-bottom: .3rem;
  }

  p {
    display: block;
    height: $options-line-height;
  }

  &__checkbox {
    width: 1.2rem;
    margin-right: 1rem;
  }

  &__input {
    width: 3rem;
  }
}

.btn {

}

.grid-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  left: $half-pile-size;
}

.sample-selector__wrapper {
  margin: $section-margin 0;
  padding: $section-padding 0;
  margin-left: auto;
}

.sample-selector {
  display: block;
  height: $pile-size;
  width: $pile-size;

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $pile-size;
    width: $pile-size;
    font-size: 2rem;
    color: $color-5;
    text-align: center;
    margin: 2px 0 ;
  }

  button {
    background-color: black;
    border: none;
  }
}

.sample-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__dropdown {
    font-size: 1.5rem;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
  border-radius: .5rem;
  margin: $section-margin;
  padding: $section-padding;

  top: $pile-size;
}

.grid__pile-row {
  margin: auto 0;
  display: flex;
  flex-direction: row;
}

.pile {
  width: $pile-size;
  height: $pile-size;
  border-radius: 5rem;
  border: none;
  margin: 1px;

  &--no-chips {
    background-color: $color-0;
  }

  &--one-chip {
    background-color: $color-1;
  }

  &--two-chips {
    background-color: $color-2;
  }

  &--three-chips {
    background-color: $color-3;
  }

  &--four-chips {
    background-color: $color-4;
  }

  &--topple {
    background-color: $color-5;
  }
}
