.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  label {
    font-size: 1.5rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    min-height: 6rem;
    min-width: 17rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    height: $options-line-height;

    &--text-input {
      justify-content: space-between;
    }

    &--checkbox {
      justify-content: flex-start;
    }
  }

  input {
    display: block;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    height: 2rem;
  }

  button {
    margin-bottom: .3rem;
  }

  p {
    display: block;
    min-height: $options-line-height;
  }

  &__checkbox {
    width: 1.2rem;
    margin-right: 1rem;
  }

  &__input {
    width: 3rem;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .options {
      justify-content: space-between;
    &__section {
          min-width: 13rem;
    }
  }
}
