
.transport {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &--button-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  button {
    padding: .5rem;
    margin: 1rem;
    height: 3rem;
  }

  &__stale-action {
    display: flex;
    flex-direction: column;
    min-width: 12rem;;

    &--row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 2rem;
    }
  }

  &__grouping {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .transport {
    flex-direction: column;

    &__grouping {
      width: 100%;
      justify-content: space-between;
      padding: 0 1rem;
    }
  }
}
