:root {
  --color-0: #000;
  --color-1: #231942;
  --color-2: #5e548e;
  --color-3: #9f86c0;
  --color-4: #be95c4;
  --color-5: #e0b1cb;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%
}

body {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
}

.grid__pile-row {
  margin: auto 0;
}

.pile {
  background-color: red;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 2rem;
}
